.buttonRed {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.buttonRed:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.buttonRed:active {
	position:relative;
	top:1px;
}





.buttonGreen {
	-moz-box-shadow:inset 0px 1px 0px 0px #9ccf6c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9ccf6c;
	box-shadow:inset 0px 1px 0px 0px #9ccf6c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6dd01b), color-stop(1, #6ebc15));
	background:-moz-linear-gradient(top, #6dd01b 5%, #6ebc15 100%);
	background:-webkit-linear-gradient(top, #6dd01b 5%, #6ebc15 100%);
	background:-o-linear-gradient(top, #6dd01b 5%, #6ebc15 100%);
	background:-ms-linear-gradient(top, #6dd01b 5%, #6ebc15 100%);
	background:linear-gradient(to bottom, #6dd01b 5%, #6ebc15 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6dd01b', endColorstr='#6ebc15',GradientType=0);
	background-color:#6dd01b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #5b9411;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #568529;
}
.buttonGreen:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6ebc15), color-stop(1, #6dd01b));
	background:-moz-linear-gradient(top, #6ebc15 5%, #6dd01b 100%);
	background:-webkit-linear-gradient(top, #6ebc15 5%, #6dd01b 100%);
	background:-o-linear-gradient(top, #6ebc15 5%, #6dd01b 100%);
	background:-ms-linear-gradient(top, #6ebc15 5%, #6dd01b 100%);
	background:linear-gradient(to bottom, #6ebc15 5%, #6dd01b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ebc15', endColorstr='#6dd01b',GradientType=0);
	background-color:#6ebc15;
}
.buttonGreen:active {
	position:relative;
	top:1px;
}






.buttonBlue {
	-moz-box-shadow:inset 0px 1px 0px 0px #6cc0cf;
	-webkit-box-shadow:inset 0px 1px 0px 0px #6cc0cf;
	box-shadow:inset 0px 1px 0px 0px #6cc0cf;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1bbbd0), color-stop(1, #15a8bc));
	background:-moz-linear-gradient(top, #1bbbd0 5%, #15a8bc 100%);
	background:-webkit-linear-gradient(top, #1bbbd0 5%, #15a8bc 100%);
	background:-o-linear-gradient(top, #1bbbd0 5%, #15a8bc 100%);
	background:-ms-linear-gradient(top, #1bbbd0 5%, #15a8bc 100%);
	background:linear-gradient(to bottom, #1bbbd0 5%, #15a8bc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1bbbd0', endColorstr='#15a8bc',GradientType=0);
	background-color:#1bbbd0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #116a94;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #568529;
}
.buttonBlue:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #15a8bc), color-stop(1, #1bbbd0));
	background:-moz-linear-gradient(top, #15a8bc 5%, #1bbbd0 100%);
	background:-webkit-linear-gradient(top, #15a8bc 5%, #1bbbd0 100%);
	background:-o-linear-gradient(top, #15a8bc 5%, #1bbbd0 100%);
	background:-ms-linear-gradient(top, #15a8bc 5%, #1bbbd0 100%);
	background:linear-gradient(to bottom, #15a8bc 5%, #1bbbd0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#15a8bc', endColorstr='#1bbbd0',GradientType=0);
	background-color:#15a8bc;
}
.buttonBlue:active {
	position:relative;
	top:1px;
}





.toggleButton input {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	z-index: 100;
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
  }
  
  .toggleButton {
	width: 70pt;
    height: 20pt;
	position: relative;
	margin: 15pt auto;
  }
  
  .toggleButton label {
	display: block;
	width: 80%;
	height: 100%;
	position: relative;
	background: #1F2736; /*#121823*/
	background: linear-gradient(#121823, #161d2b);
	border-radius: 30px 30px 30px 30px;
	box-shadow: inset 0 3px 8px 1px rgba(0,0,0,0.5),  inset 0 1px 0 rgba(0,0,0,0.5),  0 1px 0 rgba(255,255,255,0.2);
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
  }
  
  .toggleButton input ~ label i {
	display: block;
	height: 18pt;
    width: 18pt;
	position: absolute;
	left: 1pt;
	top: 1pt;
	z-index: 2;
	border-radius: inherit;
	background: #283446; /* Fallback */
	background: linear-gradient(#36455b, #283446);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),  0 0 8px rgba(0,0,0,0.3),  0 12px 12px rgba(0,0,0,0.4);
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
  }
  
  .toggleButton label + span {
	content: "";
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 5pt;
	width: 10pt;
	height: 10pt;
	border-radius: 10pt;
	background: #283446;
	background: gradient-gradient(#36455b, #283446);
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.2),  0 1px 0 rgba(255,255,255,0.1),  0 0 10px rgba(185,231,253,0),  inset 0 0 8px rgba(0,0,0,0.9),  inset 0 -2px 5px rgba(0,0,0,0.3),  inset 0 -5px 5px rgba(0,0,0,0.5);
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	z-index: 2;
  }
  
  /* Toggle */
  
  .toggleButton input:checked ~ label + span {
	content: "";
	display: inline-block;
	position: absolute;
	width: 10pt;
	height: 10pt;
	border-radius: 10pt;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	z-index: 2;
	background: #b9f3fe;
	background: gradient-gradient(#ffffff, #77a1b9);
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1),  0 1px 0 rgba(255,255,255,0.1),  0 0 10px rgba(100,231,253,1),  inset 0 0 8px rgba( 61,157,247,0.8),  inset 0 -2px 5px rgba(185,231,253,0.3),  inset 0 -3px 8px rgba(185,231,253,0.5);
  }
  
  .toggleButton input:checked ~ label i {
	left: auto;
	left: 63%;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),  0 0 8px rgba(0,0,0,0.3),  0 8px 8px rgba(0,0,0,0.3),  inset -1px 0 1px #b9f3fe;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
  }





  .form
  {
	  display: table;
  }

  .form > div
  {
	  display: table-row;
  }

  .form > div > div
  {
	  display: table-cell;
	  padding: 3pt 5pt;
  }

  .form > div > div:first-child
  {
	  text-align: right;
	  font-weight: bold;
  }