#configuration
{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(70, 70, 70);
    overflow: auto;
    z-index: 3;
    width: 100%;
    height:100%;
    box-sizing: border-box;
    color: white;
    padding: 6pt;
}


#configuration h1
{
    display: inline-block;
    margin: 0pt;
}

#configuration .configuration_close, #configuration .configuration_save
{
    float: right;
    height: 24pt;
    margin-left: 6pt;
}





#blackout
{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 4;
    background-color: rgb(50, 50, 50);
    opacity: 0.7;
    width: 100%;
    height: 100%;
}


#thermostatesSet, #thermostatesPlusMinus
{
    display: none;
    background-color: rgb(70, 70, 70);
    border: 2pt ridge white;
    width: 200pt;
    height: 170pt;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -95pt;
    margin-left: -110pt;
    text-align: center;
    padding: 10pt;
    border-radius: 20pt;
    z-index: 5;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

#thermostatesSet .thermostatesSetDelete
{
    text-align: center;
}

#thermostatesSet .inline, #thermostatesPlusMinus .inline
{
    display: inline-block;
    vertical-align: middle;
}

#thermostatesSet .inline button, #thermostatesPlusMinus .inline button
{
    display: block;
    width: 30pt;
    height: 24pt;
    padding: 6px 6px;
}

#thermostatesSet input.temp, #thermostatesPlusMinus input.temp
{
    font-family: 'lcdmonobold';
    width: 110pt;
    display: inline;
    vertical-align: middle;
    font-size: 50pt;
    text-align: center;
    background: none;
    border: none;
    color: red;
}

#thermostatesSet .buttonRed, #thermostatesSet .buttonGreen, #thermostatesPlusMinus .buttonRed, #thermostatesPlusMinus .buttonGreen
{
    margin: 0pt 10pt;
}

#thermostatesSet .mmm, #thermostatesSet .mm, #thermostatesSet .m, #thermostatesSet .ppp, #thermostatesSet .pp, #thermostatesSet .p, #thermostatesPlusMinus .mmm, #thermostatesPlusMinus .mm, #thermostatesPlusMinus .m, #thermostatesPlusMinus .ppp, #thermostatesPlusMinus .pp, #thermostatesPlusMinus .p
{
    margin: 5pt;
}

#thermostatesSet .toggleButton
{
    margin: 0pt auto 12pt auto;
}


#thermostatesPlusMinus
{
    height: 120pt;
    margin-top: -60pt;
}



#partitionKeypad
{
    display: none;
    background-color: rgb(70, 70, 70);
    border: 2pt ridge white;
    width: 200pt;
    height: 220pt;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -120pt;
    margin-left: -110pt;
    text-align: center;
    padding: 10pt;
    border-radius: 20pt;
    z-index: 5;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

#partitionKeypad.systemKeyboard
{
    height: 80pt;
}

#partitionKeypad .buttonBlue, #partitionKeypad .buttonRed, #partitionKeypad .buttonGreen
{
    width: 50pt;
    height: 35pt;
    margin: 4pt;
    font-size: 20pt;
}

#partitionKeypad .password
{
    width: 108pt;
    font-size: 23pt;
    margin-right: 4pt;
    vertical-align: middle;
    text-align: center;
    -webkit-text-security: disc;
}

#partitionKeypad .keyBack, #partitionKeypad .apply
{
    padding-left: 0pt;
    padding-right: 0pt;
}