.audio
{
    display: none;
}


.background1
{
    background-image: url('../img/background1.png');
    background-size: auto;
}

.background2
{
    background-image: url('../img/background2.jpg');
    background-size: cover;
}


.clear
{
    clear: both;
}

#topBar
{
    background-color: rgb(50, 50, 50);
    box-sizing: border-box;

    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 3;
}

#menuIcon
{
    float: left;
}

#menuIconBar1, #menuIconBar2, #menuIconBar3
{
    position: relative;
    border-radius: 1pt;
    height: 3pt;
    background-color: white;
    margin: 4pt;
    width: 30pt;
    -webkit-transition: width 0.5s, transform 0.5s, top 0.5s, bottom 0.5s, left 0.5s, opacity 0.5s;
    transition: width 0.5s, transform 0.5s, top 0.5s, bottom 0.5s, left 0.5s, opacity 0.5s;
}

#menuIcon.open #menuIconBar1
{
    transform: rotate(45deg);
    top: 10pt;
    left: 0pt;
    width: 25pt;
}

#menuIcon.open #menuIconBar2
{
    opacity: 0;
    left: 0pt;
    width: 25pt;
}

#menuIcon.open #menuIconBar3
{
    transform: rotate(-45deg);
    bottom: 5pt;
    left: 0pt;
    width: 25pt;
}




.connectionState
{
    float: right;
}

.connectionState *
{
    height: 20pt;
    margin-top: 2.5pt;
    margin-left: 4pt;
    margin-right: 4pt;
}

.connectionState .connected
{
    display: none;
}

.connectionState.connected .connected
{
    display: inline;
}

.connectionState.connected .disconnected
{
    display: none;
}




.configuration
{
    float: right;
    height: 20pt;
    margin-top: 2.5pt;
    margin-left: 4pt;
    margin-right: 4pt;
}



#menu
{
    color: white;
}



#menu3
{
    position: absolute;
    background-color: rgb(50, 50, 50);
    bottom: 0px;
}

@media all and (orientation:portrait)
{
    #menu3
    {
        left: 0px;
    }
}

@media all and (orientation:landscape)
{
    #menu3
    {
        right: 0px;
    }
}



#menu1
{
    font-size: 20pt;
    font-weight: bold;
    background-color: rgb(50, 50, 50);
    width: 100%;

    position: absolute;
    -webkit-transition: left 0.5s, top 0.5s;
    transition: left 0.5s, top 0.5s;

    overflow: auto;

    z-index: 2;
}

.menu1_
{
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /*display: none;*/
}

.menu1_.active
{
    background-color: rgb(80, 80, 80);
}

.menu1_ img
{
    height: 30pt;
    margin: 5pt 5pt;
}

.menu1_text_portrait, .menu1_text_landscape
{
    margin: 3pt 5pt;
}

.menu1_text_portrait
{
    margin-bottom: 12pt;
}

.menu1_text_portrait div
{
    transform: rotate(-90deg);
    line-height: 17pt;
}

@media all and (orientation:portrait)
{
    #menu1
    {
        white-space: nowrap;
    }

    .menu1_
    {
        display: inline-block;
    }

    .menu1_text_landscape
    {
        display: none;
    }

    .menu1_ img, .menu1_text_portrait
    {
        display: block;
    }
}

@media screen and (orientation:landscape)
{
    .menu1_ img, .menu1_text_landscape
    {
        float: right;
    }

    .menu1_text_portrait
    {
        display: none;
    }

    .menu1_
    {
        clear: both;
    }
}






.menu2_
{
    position: absolute;
    background-color: rgb(80, 80, 80);
    display: none;
}

.menu2_title
{
    background-color: rgb(60, 60, 60);
    clear: both;
}

.menu2_title h1
{
    margin: 5pt;
    display: inline-block;
    font-size: 23pt;
}

.menu2_close
{
    height: 24pt;
    float: right;
    margin: 5pt;
}

.menu2_ .groups
{
    background-color: rgb(70, 70, 70);
    display: flex;
    flex-wrap: wrap;
    max-height: 68pt;
    overflow: auto;
    justify-content: space-evenly;
}


.menu2_ .group
{
    height: 30pt;
    margin: 2pt 3pt;
    display: inline-block;
    box-sizing: border-box;
}

.menu2_ .groupPermanent.checkAll
{
    order: -101;
}

.menu2_ .groupPermanent.uncheckAll
{
    order: -100;
}

.menu2_ .groups .groupUser
{
    background-color: rgb(255, 200, 0);
    color: rgb(86, 86, 86);
    border-radius: 5pt;
    padding: 2pt;
    width: 70pt;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 3pt solid rgb(255, 200, 0);
}

.menu2_ .groups .groupUser.allChecked
{
    border: 3pt solid rgb(154, 151, 0);
}

.menu2_ .groups .groupUser.partialChecked
{
    border: 3pt dotted rgb(154, 151, 0);
}

.groups_template
{
    display: none;
}

.menu2_ .actions
{
    position: fixed;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-evenly;
}

@media (orientation: landscape)
{
    .menu2_ .actions
    {
        flex-direction: column;
        bottom: 0px;
        right: 0px;
    }
}
  
@media (orientation: portrait)
{
    .menu2_ .actions
    {
        flex-direction: row;
        bottom: 0px;
        left: 0px;
    }
}

.menu2_ .action
{
    background-color: rgb(60, 60, 60);
    float: right;
    line-height: 0;
    width: 40pt;
    height: 40pt;
    margin: 3pt 3pt;
    border-radius: 20pt;
    padding: 5pt;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 0px rgb(60, 60, 60);
}



.tiles
{
    overflow: auto;
    text-align: center;
    padding-bottom: 7pt;
    box-sizing: border-box;
}


.tile
{
    display: inline-block;
    position: relative;
    width: 100pt;
    height: 100pt;
    border: 1px solid rgb(50, 50, 50);
    background-color: rgb(100, 100, 100);
    border-radius: 7pt;
    margin: 7pt 7pt 0pt 7pt;
    box-shadow: 0pt 0pt 10pt 0pt rgb(60, 60, 60);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: 60%;
}

.tile.template
{
    display: none;
}

.tile input[type="checkbox"]
{
    position: absolute;
    top: 2pt;
    left: 2pt;
    zoom: 2;
}

.tile .name
{
    position: absolute;
    left: 0px;
    bottom: 0pt;
    padding: 5pt;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    text-shadow: 0pt 0pt 4pt black;
}




.tile.light
{
    background-image: url('../img/menu/lights/off.svg');
}

.tile.light.on
{
    background-color: rgb(181, 177, 0);
    background-image: url('../img/menu/lights/on.svg');
}



.tile.switch
{
    background-image: url('../img/menu/switches/off.svg');
}

.tile.switch.on
{
    background-color: rgb(181, 177, 0);
    background-image: url('../img/menu/switches/on.svg');
}



.tile.blind.state0
{
    background-image: url('../img/menu/blinds/0.svg');
}

.tile.blind.state25
{
    background-image: url('../img/menu/blinds/25.svg');
}

.tile.blind.state50
{
    background-image: url('../img/menu/blinds/50.svg');
}

.tile.blind.state75
{
    background-image: url('../img/menu/blinds/75.svg');
}

.tile.blind.state100
{
    background-image: url('../img/menu/blinds/100.svg');
}

.tile.blind.up
{
    background-color: rgb(181, 177, 0);
}

.tile.blind.down
{
    background-color: rgb(181, 42, 0);
}

.tile.blind .arrow
{
    height: 30pt;
    position: absolute;
    left: 50%;
    margin-left: -15pt;
    top: 20%;
    display: none;
}

.tile.blind.up .arrow.up
{
    display: block;
}

.tile.blind.down .arrow.down
{
    display: block;
}




.tile.thermostate.active
{
    background-color: rgb(181, 177, 0);
}

.tile.thermostate .on_and_temp
{
    font-size: 18pt;
    position: absolute;
    top: 7%;
    right: 7%;
}

.tile.thermostate .on_and_temp .on, .tile.thermostate .on_and_temp .off
{
    height: 12pt;
    display: none;
}

.tile.thermostate.on .on_and_temp .on
{
    display: inline;
}

.tile.thermostate.off .on_and_temp .off
{
    display: inline;
}

.tile.thermostate .set
{
    font-size: 26pt;
    font-weight: bold;
    position: absolute;
    top: 35%;
    left: 0%;
    width: 100%;
    text-align: center;
}

.tile.thermostate .temp
{
    display: inline-block;
}

.tile.thermostate .temp::after, .tile.thermostate .set::after
{
    content:"\00b0";
}




.tile.partition
{
    background-image: url('../img/menu/partitions/disarm.svg');
}

.tile.partition.armed
{
    background-image: url('../img/menu/partitions/arm.svg');
    background-color: rgb(181, 177, 0);
}

.tile.partition.alarm
{
    background-color: rgb(181, 42, 0);
}

@keyframes sabotaged
{
    from {background-color: red;}
    to {background-color: yellow;}
}

.tile.partition.sabotaged
{
    /*background-color: rgb(181, 42, 0);*/
    animation-name: sabotaged;
    animation-duration: 0.7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}


.tile.sensor.on
{
    background-color: rgb(181, 177, 0);
}

.tile.sensor.sabotaged
{
    animation-name: sabotaged;
    animation-duration: 0.7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.tile.sensor.blocked
{
    background-color: rgb(0, 168, 219);
}



@keyframes lightSensor
{
    0%
    {
        background-color: rgb(100, 100, 100);
    }

    100%
    {
        background-color: rgb(181, 177, 0);
    }
}

.tile.sensor.sensorType-light
{
    animation: lightSensor;
    animation-duration: 200s;
    animation-delay: 0s;
    animation-play-state: paused;

    background-image: url('../img/menu/sensors/light.svg');
}

.tile.tile.sensor.sensorType-light .percent
{
    position: absolute;
    top: 22%;
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    width: 100%;
    text-shadow: 0px 0px 20px rgb(50, 50, 50);
}


.tile.sensor.sensorType-pir
{
    background-image: url('../img/menu/sensors/pir_off.png');
}

.tile.sensor.on.sensorType-pir
{
    background-image: url('../img/menu/sensors/pir_on.png');
}

.tile.sensor.sensorType-door
{
    background-image: url('../img/menu/sensors/door_off.svg');
}

.tile.sensor.on.sensorType-door
{
    background-image: url('../img/menu/sensors/door_on.svg');
}

.tile.sensor.sensorType-window
{
    background-image: url('../img/menu/sensors/window_off.svg');
}

.tile.sensor.on.sensorType-window
{
    background-image: url('../img/menu/sensors/window_on.svg');
}

.tile.sensor.sensorType-garage
{
    background-image: url('../img/menu/sensors/garage_off.svg');
}

.tile.sensor.on.sensorType-garage
{
    background-image: url('../img/menu/sensors/garage_on.svg');
}

.tile.sensor.sensorType-gate
{
    background-image: url('../img/menu/sensors/gate_off.svg');
}

.tile.sensor.on.sensorType-gate
{
    background-image: url('../img/menu/sensors/gate_on.svg');
}


.tile.gate .arrow
{
    height: 50pt;
    position: absolute;
    left: 50%;
    margin-left: -25pt;
    top: 20%;
    display: none;
}

.tile.gate.opening .arrow.opening
{
    display: block;
}

.tile.gate.closing .arrow.closing
{
    display: block;
}



.tile.gate .error
{
    height: 30pt;
    position: absolute;
    left: 75%;
    margin-left: -15pt;
    top: 10%;
    display: none;
}

.tile.gate.error .error
{
    display: block;
}



.tile.gate.gateIcon-garage
{
    background-image: url('../img/menu/gates/garage_close.svg');
}

.tile.gate.open.gateIcon-garage
{
    background-image: url('../img/menu/gates/garage_open.svg');
}

.tile.gate.gateIcon-gate
{
    background-image: url('../img/menu/gates/gate_close.svg');
}

.tile.gate.open.gateIcon-gate
{
    background-image: url('../img/menu/gates/gate_open.svg');
}