#message
{
    display: none;
    position: absolute;
    top: 24pt;
    left: 50%;
    z-index: 100;
    border-width: 1px;
    border-style: solid;
    box-shadow: 3pt 3pt 3pt rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 4pt;
    padding: 4pt;
    margin: 0pt 12pt;
}

#message.error
{
    background-color: rgb(134, 0, 0);
    border-color: rgb(82, 0, 0);
}

#message.warning
{
    background-color: rgb(160, 149, 2);
    border-color: rgb(102, 100, 0);
}

#message.confirmation
{
    background-color: rgb(76, 134, 0);
    border-color: rgb(57, 82, 0);
}

#message.information
{
    background-color: rgb(46, 140, 184);
    border-color: rgb(0, 101, 141);
}