#date_time
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    color: rgb(0, 131, 218);
    /*padding-left: 40pt;*/
}


#time
{
    font-size: 40pt;
    font-weight: bold;
    margin-top: 22%;
}


#date
{
    font-size: 20pt;
    font-weight: bold;
}


@media screen and (orientation:portrait)
{
    #date_time
    {
        padding-left: 0pt;
    }

    #time
    {
        margin-top: 50%;
    }
}